$font-stack: "Roboto Condensed", sans-serif;
$white: #e9e9e9;
$salmon: #ff717c;
$light-purple: #7338d2;
$text: #363f47;
$other-purple: #c637a0;
$gray-line: rgb(219, 218, 218);
$lightp: rgb(174, 149, 184);
$lightb: rgb(161, 201, 219);
$darkp: rgb(14, 8, 37);
$oj: #e46f16;
$grey: #333;
$bgwhite: #f8fafc;
$purple: #5D01B6;
$magenta: #030303;
$dashgrey: #B7B7B7;
$intgreen: #008F1B;
$waitblue: #015AB6;
$shgreen: #96bf4888;
$decred: #F21C1B;
$yell: #F0F21B;
$turq: #95cfbc;
$main: rgb(29, 45, 90);
$toOj: invert(48%) sepia(71%) saturate(779%) hue-rotate(351deg) brightness(94%) contrast(91%);

@mixin flexbox($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}
